<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

  <p ng-if="loading">Loading...</p>

  <div ng-repeat="thing in awesomeThings">
    <h4>{{thing.name}}</h4>
    <p ng-if="thing.description">{{thing.description}}</p>
    <p ng-if="thing.loading">Loading...</p>
    <div ng-if="thing.error" class="alert alert-danger">
      <strong>{{thing.error.statusText}}</strong>
      <hr>
      <p>{{thing.error.description}}</p>
    </div>
  </div>

  <div ng-if="error" class="alert alert-danger">
    <strong>{{error.statusText}}</strong>
    <hr>
    <p>{{error.description}}</p>
  </div>

</div>
